@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary: #ac3e2b;
  --secondary: #f56b39;
  --third: #ffc680;
  --fourth: #bf2d2b;
  --gray-dark: #252729;
  --smooth-white: #fafafa;
  --white-dark: #e5e5e5;

  --border-radius: 15px;
}

* {
  font-family: "Lato", sans-serif !important;
  color: var(--gray-dark);
}

body {
  background-color: var(--smooth-white);
}

.btn-primary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  border-radius: 10px;
  padding: 10px 20px;

  margin-top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  color: #f5f5f5;
}

.btn-primary:hover{
  background: var(--primary);
  border-color: var(--primary);
}

.btn-link {
  font-weight: bold;
  font-size: 20px;
  color: var(--secondary);
  text-decoration: none;
}

.btn-link:hover{
  color: var(--third);
}

.navbar {
  font-family: "Lato", sans-serif;
}

footer ion-icon {
  font-size: 50px;
  color: #f56b39;
}

.card-login {
  background: #ffffff;
  box-shadow: 0px 0px 10px 5px rgba(37, 39, 41, 0.1);
  border-radius: 20px;
}

.card-photo {
  background: #ffffff;
  border-radius: 20px;
}

.card-photo img {
  border-top-left-radius: 020px;
  border-bottom-left-radius: 020px;
}

.card-photo h3 {
  font-weight: 800;
}

.card-photo p {
  line-height: 1;
}

.card-photo span {
  cursor: pointer;
}

.h4 {
  font-weight: 700;
  font-size: 20px;
}

.display-none {
  display: none !important;
}

.authorization-term {
  font-size: 18 px;
  line-height: 1.2;
  width: 80%;
}

.title-header {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
}

.subtitle-header {
  font-size: 18px;
}

.header {
  background: radial-gradient(
    56.33% 250.6% at 43.51% 43.67%,
    #f8b290 0%,
    #f58c5e 100%
  );
}

.title-bar {
  min-width: 150px;
  min-height: 5px;
  max-width: 150px;
  max-height: 5px;
  background-color: var(--primary);
}

.title {
  font-family: Lato !important;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  /* text-align: center; */
  color: var(--gray-dark);
}

.equip-card{
  box-shadow: 0px 0px 30px 0px rgba(37,39,41,0.4);
  padding: 20px 0px 20px 0px;
  width: 12rem;
  margin: 20px;
  border-radius: 20px;

}

.equip-card img {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

.equip-card h5 {
  color: var(--fourth);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 38px;
}

.equip-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.contribution {
  background: var(--fourth);
}

.contribution h3 {
  color: var(--smooth-white);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.contribution h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: var(--smooth-white);
  text-transform: uppercase;
}

.card-locations {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(37, 39, 41, 0.25);
  border-radius: 15px;
  padding: 20px;
}

.card-locations img {
  border-radius: 15px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-locations h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.25;
  color: var(--secondary);
}

.card-locations p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25;
}

.nav-link.active {
  color: #F56B39;
}
