@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary: #ac3e2b;
  --secondary: #f56b39;
  --third: #ffc680;
  --fourth: #bf2d2b;
  --gray-dark: #252729;
  --smooth-white: #fafafa;
  --white-dark: #E5E5E5;

  --border-radius: 15px;
}

* {
  font-family: "Lato", sans-serif !important;
  color: var(--gray-dark);
}

body{
    background-color: var(--smooth-white);
}

.btn-primary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  border-radius: 10px;
  padding: 10px 20px;
  
  margin-top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  color: #f5f5f5;
}

.navbar {
  font-family: 'Lato', sans-serif;
}

footer ion-icon {
  font-size: 50px;
  color: #F56B39;
}
