.card-photo {
    background: #ffffff;
    border-radius: 20px;
  }
  
  .card-photo img {
    border-top-left-radius: 020px;
    border-bottom-left-radius: 020px;
  }

  .card-photo h3{
    font-weight: 800;
  }

  .card-photo p{
    line-height: 1;
  }
  
  .card-photo span{
    cursor: pointer;
  }

  .h4{
    font-weight: 700;
    font-size: 20px;
  }